<h1>Listing account_badge_authorizations</h1>

<table>
  <tr>
  </tr>

<% for account_badge_authorization in @account_badge_authorizations %>
  <tr>
    <td><%= link_to 'Show', account_badge_authorization %></td>
    <td><%= link_to 'Edit', edit_account_badge_authorization_path(account_badge_authorization) %></td>
    <td><%= link_to 'Destroy', account_badge_authorization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account_badge_authorization', new_account_badge_authorization_path %>
