<h1>New account_badge_authorization</h1>

<%= error_messages_for :account_badge_authorization %>

<% form_for(@account_badge_authorization) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', account_badge_authorizations_path %>
