<h1>Enter A Valid Access Code</h1>

<%= error_messages_for :account_badge_authorization %>

<% form_for :account_badge_authorization, :url => {:action  => :create,:requirement => @requirement.id }, :method => :post  do |f| %>

  <p>
    <%= f.text_field :code  -%>
  </p>

  <p>
    <%= f.submit "Enter Code" %>
  </p>

<% end %>
