<ul>
<% ['inthelight.jpg','kids.jpg', 'loungelizard.jpg'].each do |imagename|  %>
<li><%= link_to_remote(image_tag( "customization/#{imagename}", :height => 100, :width => 130 ) , 
		:url => {:controller => 'customize', 
			 :action => :update,
			 :id => my_badge, 
			 :customization => u(customization.name), 
			 :option_value  => imagename } ) -%> 
</li>

<% end %>
</ul>
