<ul>
	<% order.donations.each do |donation| %>
	<li><strong><%= link_to(donation.organization.name, organization_path(donation.organization)) %></strong></li>
	<li><%= link_to(donation.segment.name, organization_segment_path(donation.segment.organization, donation.segment)) %></li>
	<li><%= number_to_currency(donation.amount) %></li>
	<% end %>
</ul> 