<div id="badge-functions">
	<ul class="navigation">
		<% if controller.action_name == 'show' -%>
	  <li class="back"><span><%= link_to 'back to account', user_account_path %></span></li>
	  <% elsif controller.action_name != 'index' -%>
	  <li class="back"><span><%= link_to 'back to badge', user_my_badge_path(my_badge) -%></span></li>
	  <% end -%>
  </ul>
  <ul class="actions">
  	<%= my_badge_options('share this badge', 'share', user_my_badge_share_url(my_badge))  %>
	  <%#= my_badge_options('customize this badge', 'customize', user_my_badge_customize_url(my_badge)) %>
	  <%#= my_badge_options('sponsorship options', 'sponsors', url_for(:controller =>  'user/my_badges' , :action => 'sponsorship_options', :id => my_badge )) %>
	  <%#= my_badge_options('merit options', 'merits', url_for(:controller =>  'user/my_badges' , :action => 'merit_options', :id => my_badge)) %>
	</ul>
	<span class="clear"></span>
</div>

<%# #url_for(:controller =>  'user/share' , :action => 'index' , :id => my_badge)) %>