<ul>
<% my_badge.badge.requirements.each_with_index do |req, i| %>
<li><%= req.description -%> </li>

<% if i  <  (my_badge.badge.requirements.size - 1) %>
<li> - or - </li>
<% end %>

<% end %>

</ul>
