<% content_box("badge spotlight", :class => 'shadow', :id => 'preview') do %>
	
	<%= render :partial => 'shared/badge_preview', :locals => {:badge => @my_badges.first} %>

<% end %>

<% content_box("filter badges", :class => 'basicborder', :id => 'instructions') do %>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
	</p>
<% end %>

<%= render :partial => '/shared/filter_badges_form', :locals => {:in_my_badges => true } %>

<% grey_fade(:id => "badges" ) do -%>
	<h1>my badges</h1>
	<% if @my_badges.empty? %>
		<p>You haven't created any badges yet. Please <%= link_to 'create a badge', badges_path %> first.</p>
	<% else %>
		<%= badge_list(@my_badges, 'small') %>
	<% end %>
<% end %>
