<% content_box( "Merit Options", :class => "shadow", :id => "preview" ) do -%>
  <%= render :partial => 'shared/badge_preview', :locals => {:badge => @my_badge} %>
<% end %>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<% content_box( "about merits", :class => "basicborder", :id => "instructions" ) do -%>
	<p> 
		But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual
	</p>
<% end %>

<% grey_fade(:id => 'merit-options') do -%>
	<h3>Choose Your Merit Options</h3>
		<% form_for(@my_badge, :url =>  user_my_badge_path(@my_badge), :method => :put  ) do |f| %>
			<%= f.select 'merit_option',  my_badge_merit_option_select -%>
		 	<%= f.submit 'choose merit option' -%>
		<% end %>
<% end -%>
