<h1>Merit Options (3.1.1.2) </h1>

<% content_box( "your  badge", :class => "shadow" ) do -%>
    <div id="badge">
      <%= render :partial => "shared/current_view", :locals => {:my_badge => @my_badge } -%>
    </div>
<% end %>

<div>

<h2>Merits</h2>

<h3>About Merits</h3>
<p> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual  </p>

<h3>Choose Your Merit Options</h3>
<% form_for(@my_badge, :url =>  user_my_badge_path(@my_badge), :method => :put  ) do |f| %>
 <%= f.select 'merit_option',  my_badge_merit_option_select -%>
 <%= f.submit 'choose merit option' -%>
<% end %>
</div>
