<h1>MyBadge Show (3.1.1)</h1>

<% content_box( "your  badge", :class => "shadow" ) do -%>
    <div id="badge">
      <%= render :partial => "shared/current_view", :locals => {:my_badge => @my_badge } -%>
    </div>
<% end %>

<div>
 <%= render :partial => 'navigation' , :locals => {:my_badge => @my_badge} -%>
</div>
