<% @sub_layout = 'standard' %>

<% content_for :top_left do -%>
  <h1>Your Charity Badge</h1>
  <%= render :partial => 'shared/badge_preview', :locals => {:badge => @my_badge} %>
<% end %>

<% content_for :top_right do -%>
  <ul>
    <li>Organization: <%= @my_badge.badge.organization.name -%></li>
    <li>Segment: <%= @my_badge.badge.segment.name -%></li>
	</ul>
	<p>
	  <%= link_to('landing page', my_badge_landing_path(@my_badge.public_adi_id)) %>
	</p>
<% end %>

<% content_for :tertiary do %>
  <% grey_fade(:id => "badge-extras" ) do -%>
    <div id="functions" class="left">
      <h2>badge functions</h2>
    </div>
    <div id="sponsors" class="right">
      <h2>detailed stats</h2>
    </div>
  <% end %> 
<% end %>




