<ul>
<% shares.each do |share| %>
<li>
<%= link_to_remote image_tag("icons/#{share.name}.png", :alt => share.name), :url => {:controller => 'share', :action => 'choose', :id => my_badge, :share  => u(share.name)  } -%>
</li>
<% end %>
</ul>
