<h1>Share Home </h1>


<img src="<%=ADISERVER-%>/adis/<%= @my_badge.adi_id -%>.gif?&draft=true&rand=<%=rand(100).to_s-%>" class="listing" >

<br />

<%= link_to 'home', :controller => 'site', :action => 'index' -%>
