<h1>New sponsorslogo</h1>

<%= error_messages_for :sponsorslogo %>

<% form_for(@sponsorslogo, :url => admin_sponsor_sponsorslogo_path(@sponsor, @sponsorslogo), :method => :post , :html => {:multipart => true} ) do |f| %>

  <li>
    <%= f.file_field :uploaded_data %>
  </li>

  <li>
    <%= f.submit "Create" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Back', admin_sponsor_sponsorslogos_path(@sponsor) %>
