<h1>listing standfor.us accounts</h1>

<table border="1">
  <tr>
   <th>name</th>
   <th colspan="2">admin</th>
  </tr>

<% for account in @accounts %>
  <tr class="<%=cycle('odd', 'even')-%>">
    <td><%= link_to account.primary_email , edit_admin_account_path(account) %> </td>
    <td><%= link_to 'edit account attributes', edit_admin_account_path(account) %></td>
    <td><%= link_to 'remove this account', admin_account_path(account), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
