<ul class="sympactadmin">
  <li>Organizations
    <ul>
      <li><%= link_to 'Segments', admin_segments_path %></li>
      <li>Badges
        <ul>
          <li>Access Codes</li>
        </ul>
      </li>
      <li>Logos</li>
    </ul>

  </li>
  <li>Segments</li>
  <li>Access Codes</li>
  <li>Badges</li>
  <li></li>
</ul>

<ul>
  <li>Segments</li>
  <li>Badges</li>
</ul>

<%= yield %>

