<h1>edit my account details</h1>

<%= error_messages_for :account %>

<% form_for(@account, :url => user_account_path, :method => :put ) do |f| %>
  <ul>
    <%= render :partial => 'fields', :locals => {:f => f } -%>
    <%= f.submit "Update" %>
  </ul>
<% end %>

<p>
<%= link_to 'back to my account', user_account_path %> 
</p>
