<h1>My Account </h1>
<p>
<%= link_to 'Edit', edit_user_account_path %> 
</p>

<h2>Organizations</h2>
<p>
 <%= link_to  'my organizations ' , user_organizations_path -%> 
</p>

<h2>Orders</h2>
<p>
 <%= link_to  'my orders' , user_orders_path -%> 
</p>


<h2>My Badges</h2>
<p>
 <%= link_to  'my badges' , user_my_badges_path -%> 
</p>
