<h1>My Account </h1>
<p>
<%= link_to 'Edit', edit_user_account_path %> 
</p>

<h2>My Organizations</h2>
<p>
 <%= render :partial => 'organizations' -%> 
</p>

<h2>Segments</h2>
<p>
 <%= render :partial => 'segments' -%> 
</p>

<h2>My Badges</h2>
<p>
 <%= render :partial => 'my_badges' -%> 
</p>
