<h1>Get This Badge </h1>

<%= error_messages_for :my_badge %>

<p><%= @badge.name  -%> </p>


<% form_for :my_badge, 
	:url  => {:action => "create", :id => @badge }, 
	:method => :post  do |f| %>
  
  <p>
    <%= submit_tag "Give Me My Badge" %>
  </p>

<% end %>
