<h1>My Badge Landing</h1>

<h2>Badge</h2>

<div>
 <%= image_tag(@my_badge.source_path) -%> 
</div>

<h2>Badge Statistics</h2>
<%= render :partial => 'statistics' , :locals => {:stats => @adi.stats} -%>


<p> This badge belongs to: <%= link_to @my_badge.account.nickname, about_user_path(@my_badge.account) -%>
</p>
