  <li><lable for="badge_name" >Name:</label>
   <%= f.text_field :name -%>
  </li>

  <li><lable for="badge_structure_id" >Structure ID:</label>
   <%= f.text_field :structure_id-%>
  </li>

  <li><lable for="badge_description" >Description:</label>
   <%= f.text_area :description -%>
  </li>

  <li> ><lable for="badge_tag_list" >Tag List:</label> <%= f.text_field :tag_list -%> </li>
