
<% content_box("featured badge", :class => 'shadow', :id => 'preview') do %>
	<%= image_tag("examples/1.gif", :alt => "Badge Preview") %>
<% end %>

<% content_box("about badges", :class => 'basicborder', :id => 'instructions') do %>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
	</p>
<% end %>

<%= render :partial => '/shared/filter_badges_form' , :locals => {:in_my_badges => false } -%>

<% grey_fade(:id => "badges" ) do -%>
	<h1><%= image_tag("/text/basicborder_header/most recent badges.png", :alt => "My Badges") %></h1>
   <div id="badge-list">
		<% @badges.each do |badge| %>
			<%= badge_link(badge, badge_path(badge)) -%>
		<% end %>
  </div>
<% end %>
