<h1>About Us</h1>

<p>Bringing Wall Street expertise to the investments that matter most.</p>

<p>How can you know which charitable organization is the most effective? You don’t have the time to research it all. You don’t know the sources and the changing nature of charitable needs. Things move so fast and the dynamic nature of need is always evolving. Organizational realities are constantly changing, so the organization that needs help today may not be the same one that most needs your support next time.</p>

<p>Be smart. Let World Reach experts do the homework for you.</p>

<p>World Reach is a donor advised fund. This simply means that we operate much like a mutual fund with a staff of expert analysts and researchers. The World Reach difference is, we analyze and assess charitable organizations instead of for-profit corporations; the money we direct is donations, not 401k funds. The World Reach giving methodology ensures that the money you give goes to organizations where it does the most good.</p>

<p>World Reach charitable fund managers keep their fingers on the pulse of the organizations in one of seven “giving categories” like the Environment or Disaster Relief. World Reach fund managers constantly evaluate organizational efficiencies, keep tabs of accomplishments and monitor real needs. They know which organizations are facing a resource crisis or a staggering need. In short, they have the inside information to know where funds are needed most.</p>

<p>When you make a donation through World Reach, the charitable fund managers of the giving categories you selected will direct your money to the right organizations.</p>

<p>The bottom line: your donation makes a real time impact. </p>

<ul>
 <li><%= link_to 'Accountability and Reporting',  worldreach_accountability_path  -%> </li>
 <li><%= link_to 'Frequently Asked Questions',  worldreach_faq_path  -%> </li>
</ul>



