<h1>About Us</h1>

<ul>
 <li><%= link_to 'Accountability and Reporting',  worldreach_accountability_path  -%> </li>
 <li><%= link_to 'Frequently Asked Questions',  worldreach_faq_path  -%> </li>
</ul>

<br/>


