
<div id="mission">
	<p><span class="lead">World Reach is a unique advisory service to help you</span> make a real  difference with your charitable donation. Like a mutual fund, we apply your gift to organizations where it makes the greatest impact. Make a wise choice every time you give to the issues you care about most.</p>
</div>

<%= link_to image_tag('worldreach/get_involved_ie.png', :alt => 'Get Involved', :id => 'get-involved' ), new_worldreach_order_path -%>

<% content_for :sidebar do -%>
<div id="instructions" class="box">
	<h3>Our Process is Simple.</h3>
		<ul>
	    <li class="check">Learn about and select from our causes.</li>
	    <li class="dollar">Enter donation amounts for each cause.</li>
	    <li class="person">Enter your required personal information.</li>
		</ul>
</div>
<div id="donations">
	<p><strong>$107,536,092</strong> has been donated by you.</p>
	<%= link_to image_tag('worldreach/tracker_link.png', :alt => 'Link to Donation Tracker'), worldreach_donation_tracker_path -%>
</div>
<% end -%>

<% content_for :extra do -%>
	<%= image_tag('worldreach/splash_placeholder.jpg', :alt => 'Our Causes') %>
<% end %>

