
<li><label for="requirement_name " >Name:</label>
   <%= f.text_field :name -%>
</li>

<li><label for="requirement_value" >Value:</label>
   <%= f.text_field :value-%>
</li>

<li><label for="requirement_description" >Description:</label>
   <%= f.text_area :description-%>
</li>

<li><label for="requirement_type" >Type:</label>
  <%= f.select 'req_type',  [["Access Code", "CodeRequirement"],["Donation", "DonationRequirement"]] -%>
</li>
