<h2>Complete Requirement </h2>

<p><%= @requirement.badge.name -%></p>
<p><%= @requirement.name -%></p>
<p><%= @requirement.description -%></p>

<%= link_to 'Donate Now', 
	:controller => 'donations', 
	:action => 'new', 
	:organization => @requirement.badge.organization -%>
