<h1>Listing requirements</h1>

<table>
  <tr>
  </tr>

<% for requirement in @requirements %>
  <tr>
    <td><%= link_to 'Show', badge_requirement_path(@badge, requirement) %></td>
    <td><%= link_to 'Edit', edit_badge_requirement_path(@badge, requirement) %></td>
    <td><%= link_to 'Destroy', badge_requirement_path(@badge,requirement), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New requirement', new_badge_requirement_path(@badge) %>
