<h1>New requirement</h1>

<%= error_messages_for :requirement %>

<% form_for(:requirement , :url =>  badge_requirements_path(@badge), :method => :post ) do |f| %>
<ul>
  <%= render :partial => 'fields', :locals => {:f => f } %>
  <li>
    <%= f.submit "Create" %>
  </li>
</ul>
<% end %>

<%= link_to 'Back', badge_requirements_path(@badge) %>
