body {
  background: url(/images/new/layout/body_background.png) repeat-y top center; }

h2 {
  margin: 0 0 .5em 0; }

a {
  color: #666;
  text-decoration: none; }
  a:visited {
    color: #666; }
  a:hover {
    color: #808080; }

#container {
  width: 980px;
  position: relative;
  margin: 0 auto; }
  #container #header {
    height: 100px;
    position: relative;
    margin-bottom: 15px; }
    #container #header .logo {
      position: absolute;
      bottom: 0;
      left: 0; }
    #container #header ul#main-navigation {
      position: absolute;
      bottom: 0;
      right: 0; }
      #container #header ul#main-navigation li {
        float: left;
        list-style-type: none;
        padding-left: 20px;
        font-family: "Trebuchet MS", "Tahoma";
        font-size: 138.5%;
        font-weight: bold; }
      #container #header ul#main-navigation a:hover {
        border-bottom: 4px solid black; }
    #container #header ul.session-links {
      position: absolute;
      top: 0;
      right: 0; }
      #container #header ul.session-links li {
        float: left;
        list-style-type: none;
        padding-left: 20px; }

#standard #primary {
  float: left;
  width: 760px; }
  #standard #primary #preview {
    width: 420px;
    float: left; }
  #standard #primary #copy, #standard #primary #tools {
    width: 305px;
    float: right;
    margin-right: 15px;
    display: inline; }
  #standard #primary #tools {
    clear: right; }
#standard #secondary {
  float: right;
  width: 220px; }
  #standard #secondary #stats {
    float: right; }
#standard #tertiary {
  float: left;
  width: 760px; }
  #standard #tertiary .grey-fade, #standard #tertiary .outside-box {
    margin-right: 15px; }

#footer {
  width: 90%;
  margin: 20px auto 0; }
  #footer p {
    margin-bottom: .5em;
    text-align: center; }

.site.index #get-badge, .site.index #customize-badge, .site.index #share-badge, .site.index #make-difference {
  margin: 0 15px 0 10px;
  float: left; }
.site.index #featured-badges, .site.index #mission-statement, .site.index #leaderboard {
  float: left;
  margin: 15px 15px 0 0; }
.site.index #leaderboard, .site.index #mission-statement {
  width: 285px; }
.site.index #featured-badges {
  position: relative;
  z-index: 100;
  width: 330px; }

.site.leaderboard .leaders {
  float: left;
  width: 33%; }
  .site.leaderboard .leaders .grey-fade {
    margin-right: 15px; }

.accounts.show .avatar {
  float: left; }
.accounts.show ul#user-navigation {
  float: left; }

.sessions.new #member-login, .sessions.new #open-id, .sessions.new #facebook, .accounts.create #member-login, .accounts.create #open-id, .accounts.create #facebook {
  float: left;
  width: 33%; }
  .sessions.new #member-login .box,   .sessions.new #open-id .box,   .sessions.new #facebook .box,   .accounts.create #member-login .box,   .accounts.create #open-id .box,   .accounts.create #facebook .box {
    margin-right: 15px; }
    .sessions.new #member-login .box .content,     .sessions.new #open-id .box .content,     .sessions.new #facebook .box .content,     .accounts.create #member-login .box .content,     .accounts.create #open-id .box .content,     .accounts.create #facebook .box .content {
      padding-top: 0; }
    .sessions.new #member-login .box .inside-box,     .sessions.new #open-id .box .inside-box,     .sessions.new #facebook .box .inside-box,     .accounts.create #member-login .box .inside-box,     .accounts.create #open-id .box .inside-box,     .accounts.create #facebook .box .inside-box {
      min-height: 200px; }
    .sessions.new #member-login .box h2,     .sessions.new #open-id .box h2,     .sessions.new #facebook .box h2,     .accounts.create #member-login .box h2,     .accounts.create #open-id .box h2,     .accounts.create #facebook .box h2 {
      padding-top: 10px; }

.organizations ul.org-nav, .segments ul.org-nav {
  margin: 0;
  padding: 0; }
  .organizations ul.org-nav li,   .segments ul.org-nav li {
    padding-left: 32px;
    height: 28px;
    line-height: 23px;
    list-style-type: none; }
    .organizations ul.org-nav li.organization,     .segments ul.org-nav li.organization {
      background: url(/images/icons/navigation/organization.png) no-repeat center left; }
    .organizations ul.org-nav li.segment,     .segments ul.org-nav li.segment {
      background: url(/images/icons/navigation/back.png) no-repeat center left; }
.organizations ul.segments, .segments ul.segments {
  margin: 0;
  padding: 0;
  border-top: 1px dotted black; }
  .organizations ul.segments li,   .segments ul.segments li {
    list-style-type: none;
    font-weight: bold;
    font-size: 138.5%;
    text-align: right;
    border-bottom: 1px dotted black;
    padding: 5px 32px 0 0;
    min-height: 28px;
    background: url(/images/icons/navigation/segment.png) no-repeat right center; }
    .organizations ul.segments li.current, .organizations ul.segments li:hover,     .segments ul.segments li.current, .segments ul.segments li:hover {
      border-left: 5px solid gray; }
.organizations img.avatar, .segments img.avatar {
  float: right;
  margin-left: 15px; }
.organizations .small-logo, .segments .small-logo {
  float: left;
  margin-right: 10px; }

.landing.index #tertiary, .badges.show #tertiary, .my_badges.show #tertiary {
  margin-top: 15px; }
.landing.index #action-call, .badges.show #action-call, .my_badges.show #action-call {
  width: 279px;
  height: 110px;
  float: right;
  margin: -45px 27px 0 0; }
.landing.index #badge-extras #mission, .badges.show #badge-extras #mission, .my_badges.show #badge-extras #mission {
  width: 60%;
  float: left; }
.landing.index #badge-extras #actions, .badges.show #badge-extras #actions, .my_badges.show #badge-extras #actions {
  width: 40%;
  float: right;
  text-align: center; }
  .landing.index #badge-extras #actions h3,   .badges.show #badge-extras #actions h3,   .my_badges.show #badge-extras #actions h3 {
    margin: 0 0 .5em 0; }
  .landing.index #badge-extras #actions img.avatar,   .badges.show #badge-extras #actions img.avatar,   .my_badges.show #badge-extras #actions img.avatar {
    margin: 10px 0 10px 0; }

.customize.index #tool-options ul {
  margin: 0; }
  .customize.index #tool-options ul li {
    list-style-type: none; }
.customize.index #tool-options ul.palette li {
  padding: 2px;
  border: 1px solid black;
  float: left;
  margin: 0 4px 4px 0; }
  .customize.index #tool-options ul.palette li a {
    width: 35px;
    height: 35px;
    display: block; }
.customize.index #tool-options ul.palette span {
  display: block;
  border: 1px solid black; }
.customize.index #tool-options ul.image-chooser li {
  float: left;
  margin: 0 20px 20px 0; }

.my_badges.new #complete-requirements .left, .my_badges.new #complete-requirements .right, .my_badges.create #complete-requirements .left, .my_badges.create #complete-requirements .right {
  width: 50%; }
.my_badges.new #complete-requirements .left, .my_badges.create #complete-requirements .left {
  position: relative;
  float: left; }
  .my_badges.new #complete-requirements .left span.or,   .my_badges.create #complete-requirements .left span.or {
    position: absolute;
    font-size: 174%;
    font-weight: bold;
    right: 88px;
    top: 30pt; }
.my_badges.new #complete-requirements .right, .my_badges.create #complete-requirements .right {
  float: right; }

table#badge-list {
  width: 100%;
  table-layout: auto;
  border: none; }
  table#badge-list tr {
    border-bottom: 1px dotted black; }
  table#badge-list td {
    vertical-align: middle;
    width: 33%;
    border: none;
    padding: 0; }

.badge-link {
  position: relative;
  margin: 10px auto; }
  .badge-link .badge-meta {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border: 1px solid #000;
    background: #b7b9bb; }
    .badge-link .badge-meta ul {
      margin: 0;
      padding: 5px;
      background: url(/images/backgrounds/b7b9bb_fade.jpg) repeat-x top left;
      border-top: 1px solid #cfd2d4;
      border-left: 1px solid #cfd2d4;
      border-right: 1px solid #828485;
      border-bottom: 1px solid #828485; }
      .badge-link .badge-meta ul li {
        margin: 0;
        padding: 0;
        list-style-type: none; }
    .badge-link .badge-meta img.preview {
      padding: 8px;
      background-color: #828485;
      border-bottom: 1px solid #000;
      border-top: 1px solid #cfd2d4;
      border-left: 1px solid #cfd2d4;
      border-right: 1px solid #525354; }
  .badge-link span {
    display: none; }

#badge-actions {
  float: right; }
  #badge-actions ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    #badge-actions ul li {
      list-style-type: none; }

#badge-functions {
  margin-top: 5px; }
  #badge-functions ul {
    margin: 0;
    padding: 0; }
    #badge-functions ul li {
      display: block;
      height: 28px;
      line-height: 28px;
      background-position: top left;
      background-repeat: no-repeat;
      min-width: 32px;
      float: left; }
      #badge-functions ul li.back {
        background-image: url(/images/icons/navigation/back.png); }
      #badge-functions ul li.share {
        background-image: url(/images/icons/navigation/share.png); }
      #badge-functions ul li.customize {
        background-image: url(/images/icons/navigation/heart.png); }
      #badge-functions ul li.sponsors {
        background-image: url(/images/icons/navigation/sponsors.png); }
      #badge-functions ul li.merits {
        background-image: url(/images/icons/navigation/merits.png); }
      #badge-functions ul li a {
        display: block;
        padding-left: 32px; }
  #badge-functions ul.actions {
    float: right; }
    #badge-functions ul.actions span.show {
      display: inline; }

#share ul {
  margin: 0;
  padding: 0; }
  #share ul li {
    list-style-type: none; }
#share .left {
  width: 20%;
  float: left; }
#share .right {
  width: 80%;
  float: right; }
#share .small-logo {
  float: left;
  margin-right: 10px; }

#tools ul {
  margin: 0;
  padding: 0; }
  #tools ul li {
    display: block;
    line-height: 35px;
    width: 49%;
    float: left;
    height: 35px;
    background-position: top left;
    background-repeat: no-repeat;
    margin-bottom: 5px; }
    #tools ul li a {
      padding-left: 40px; }
    #tools ul li.edges {
      background-image: url(/images/icons/edges.png); }
    #tools ul li.fonts {
      background-image: url(/images/icons/font.png); }
    #tools ul li.images {
      background-image: url(/images/icons/picture.png); }
    #tools ul li.affiliation {
      background-image: url(/images/icons/affiliation.png); }

#flash {
  margin-right: 15px; }
  #flash .content {
    padding-top: 2px; }
    #flash .content h2 {
      color: #fff; }

img.avatar, .small-logo img {
  border: 1px solid black;
  padding: 5px; }

.leader .avatar {
  border: none;
  padding: 0; }

span.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden; }

.radial {
  background: url(/images/boxes/sidebar/outer_wrapper.png) no-repeat top center;
  width: 217px;
  float: left; }
  .radial .inner-wrapper {
    background: url(/images/boxes/sidebar/inner_wrapper.png) no-repeat bottom center;
    padding: 10px;
    min-height: 125px;
    _height: 125px; }
  .radial h2, .radial h3 {
    text-align: center;
    margin: 0; }

.grey-fade, .end-cap {
  background: url(/images/boxes/grey-fade.png) no-repeat top right; }

.grey-fade {
  position: relative;
  min-height: 300px;
  _height: 300px;
  margin-left: 15px;
  padding: 10px 15px 0 0; }
  .grey-fade .end-cap {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    margin-left: -15px;
    height: 100%;
    background-position: top left; }

.box {
  position: relative;
  margin: 0 auto;
  min-width: 8em;
  z-index: 1;
  margin: 0 0 15px 15px; }
  .box.round .content, .box.round .t, .box.round .b, .box.round .b div {
    background: transparent url('/images/boxes/solid-smooth-darkhead.png') no-repeat top right; }
  .box.shadow .content, .box.shadow .t, .box.shadow .b, .box.shadow .b div {
    background: transparent url('/images/boxes/solid-shadow-darkhead.png') no-repeat top right; }
  .box.shadow .content {
    padding-top: 0; }
    .box.shadow .content h1 {
      margin: 0 0 15px 0;
      padding: 0;
      height: 29px;
      line-height: 29px;
      font-size: 123.1%;
      color: #fff; }
  .box.basic .content, .box.basic .t, .box.basic .b, .box.basic .b div {
    background: transparent url('/images/boxes/basic-round.png') no-repeat top right; }
  .box.basicborder .content, .box.basicborder .t, .box.basicborder .b, .box.basicborder .b div {
    background: transparent url('/images/boxes/basic-round-border.png') no-repeat top right; }
  .box.error .content, .box.error .t, .box.error .b, .box.error .b div,   .box.warning .content, .box.warning .t, .box.warning .b, .box.warning .b div {
    background: transparent url('/images/boxes/basic-round-red-border.png') no-repeat top right; }
  .box.notice .content, .box.notice .t, .box.notice .b, .box.notice .b div,   .box.message .content, .box.message .t, .box.message .b, .box.message .b div {
    background: transparent url('/images/boxes/basic-round-green-border.png') no-repeat top right; }
  .box .content {
    position: relative;
    zoom: 1;
    _overflow-y: hidden;
    padding: 10px 15px 0 0; }
    .box .content p:last-child {
      margin-bottom: 0 !important; }
  .box .t {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    margin-left: -15px;
    height: 100%;
    _height: 1600px;
    background-position: top left !important; }
  .box .b {
    position: relative;
    width: 100%;
    background-position: bottom right !important; }
  .box .b, .box .b div {
    height: 15px;
    font-size: 1px; }
  .box .b div {
    position: relative;
    width: 15px;
    margin-left: -15px;
    background-position: bottom left !important; }
