* {
	margin:0;
	padding:0;
}

html {
	padding-bottom:20px;
}
body {
	background:#325a66 url(/images/worldreach/body_background.jpg) repeat-x top left;
	font-family: Georgia, 'Times New Roman', Arial, Serif;
	color:#fff;
	font-size:1em;
}
p {
	font-size:90%;
	line-height:200%;
	margin-bottom:15px;
}
ul, li {
	list-style:none;
}
a {
	color:#efad13;
	text-decoration:none;
}
a img {
	border:0px;
}
h1 {
	background:url(/images/worldreach/h1_background.png) no-repeat top left;
	margin-top:10px;
	padding-left:15px;
	font-size:160%;
	font-weight:normal;
	height:43px;
	line-height:43px;
	margin-bottom:15px;
}
h2, h3 {
	margin-bottom:10px;
}
#container {
	width:960px;
	margin:0 auto;
	position:relative;
}

#heading {
	position:relative;
}

#navigation {
	position:absolute;
	top:100px;
	right:0;
}

#navigation a {
	background:#3c555e;
	color:#ffffff;
	padding:5px 15px 5px 15px;
	font-size:90%;
}

#navigation a:hover {
	background:#59737b;
}

#content {
	width:670px;
	float:left;
}

.account #content {
	width:auto;
}

#sidebar {
	width:290px;
	float:right;
	font-size:80%;
}

#sidebar span {
	font-size:90%;
}

.home #content, .home #sidebar {
	padding-top:285px;
}
#content #padding {
	margin-left:20px;
	margin-right:40px;
}
#extra {
	display:none;
}

#footer {
	clear:both;
	padding:20px 0px 0px 0px;
	font-size:70%;
	color:#efad13;
}

#navigation li, #footer li {
	float:left;
	padding-left:5px;
	display:block;
}

#mission p {
	padding:10px 110px 15px 50px;
}
#mission span {
	display:block;
}
#get-involved {
	padding-left:30px;
}
.home #extra {
	display:block;
	top:150px;
	left:0;
	position:absolute;
	height:auto;
	margin-top:0;
	bottom:auto;
	margin-bottom:auto;
	
}
#donations {
	height:68px;
	border:1px solid #efad13;
	background:url(/images/worldreach/donation_tracker.png) no-repeat top left;
	padding-left:91px;
	text-align:center;
	margin-top:15px;
	clear:both;
	line-height:150%;
	color:#efad13;
	margin-left:16px;
	font-size:1em;
}
#donations strong {
	display:block;
	font-size:150%;
	color:#ffffff;
}
#donations p {
	padding-top:5px;
}
#donations a {
	float:left;
	margin-left:-91px;
	margin-top:-51px;
	}
.home #sidebar {
	margin-top:15px;
}
#instructions, #causes_panel, #summary {
	background:#2d4a54;
	margin-left:16px;
	padding-bottom:10px;
}

#instructions ul, #summary ul {
	padding-top:40px;
}

#instructions li {
	margin-left:10px;
	padding:0 20px 0 75px;
	height:35px;
	margin-bottom:5px;
}

.check {
	background:url(/images/worldreach/icons/check_on.png) no-repeat top left;
	_background:url(/images/worldreach/icons/check_on_ie.png) no-repeat top left;
}
.check-off {
	background:url(/images/worldreach/icons/check_off.png) no-repeat top left;
	_background:url(/images/worldreach/icons/check_off_ie.png) no-repeat top left;
}
.dollar {
	background:url(/images/worldreach/icons/dollar_on.png) no-repeat top left;
	_background:url(/images/worldreach/icons/dollar_on_ie.png) no-repeat top left;
}
.dollar-off {
	background:url(/images/worldreach/icons/dollar_off.png) no-repeat top left;
	_background:url(/images/worldreach/icons/dollar_off_ie.png) no-repeat top left;
}
.person-off {
	background:url(/images/worldreach/icons/person_off.png) no-repeat top left;
	_background:url(/images/worldreach/icons/person_off_ie.png) no-repeat top left;
}
.person {
	background:url(/images/worldreach/icons/person_on.png) no-repeat top left;
	_background:url(/images/worldreach/icons/person_on_ie.png) no-repeat top left;
}
.icon {
	width:62px;
	height:35px;
	display:block;
	background-position:50% 50%;
}
#position {
	width:246px;
	margin:0 auto;
}
#position li {
	float:left;
	padding:0px 10px 0px 10px;
}
#causes_panel {
	margin-top:10px;
	position:relative;
	padding:10px 0 0 20px;
}
#causes_panel .current {
	background:url(/images/worldreach/box_header.png) no-repeat top left;
	margin-left:-16px;
	padding-left:36px;
	line-height:27px;
	margin-top:5px;
}
#causes_panel .current a {
	color:#151918;
}

#causes_panel ul {
	margin:15px 0 10px -20px;
}
#causes_panel li {
	height:40px;
	margin-bottom:-10px;
	padding-left:20px;
	line-height:30px;
	clear:both;
}

#causes_panel li img {
	float:right;
	margin-top:-35px;
	margin-right:20px;
}
.donation-summary li {
	margin-bottom:10px;
	position:relative;
	font-size:120%;
}
.donation-summary li span {
	position:absolute;
	font-weight:bold;
	right:0;
	padding-right:15px;
}
.donation-summary li input {
	padding:2px;
	border:1px solid black;
}
#content .donation-summary li {
	background:transparent url(/images/worldreach/h1_background.png) no-repeat scroll left top;
	padding:10px;
}
.box h3 {
	background:url(/images/worldreach/box_header.png) no-repeat top left;
	height:40px;
	margin-left:-16px;
	margin-top:-10px;
	float:right;
	width:290px;
	color:#2d4a54;
}

#summary {
	margin-top:20px;
}
#summary ul {
	margin-left:20px;
}
#summary .total {
	border-top:1px dotted white;
	margin-top:5px;
	margin-right:15px;
	padding-top:5px;
}
#summary .total span {
	right:-15px;
}
#instructions h3 img, #summary h3 img {
	padding:6px 0 0 22px;
}

#segment-list span {
	width:20px;
	height:40px;
	display:block;
	background:url(/images/worldreach/icons/select_off.png) no-repeat top left;
	float:right;
}

#segment-list span.checked {
	background:url(/images/worldreach/icons/select_on.png) no-repeat top left;
}

.segment_selected {
	background:url(/images/worldreach/icons/select_off.png) no-repeat top right;
}

.segment_unselected {
	background:url(/images/worldreach/icons/select_on.png) no-repeat top right;
}

#new-session {
	float:left;
	width:350px;
}
#new-account {
	float:right;
	border-left:2px dotted white;
	width:500px;
	padding-left:30px;
}

.account .input input, .orders .input input {
	width:175px;
}
.orders select {
	border:1px solid black;
}
.orders .verification input {
	width:50px;
}
.orders #date_year {
	width:60px;
}
.orders #date_month {
	width:100px;
}
.account dt {
	width:30%;
}
.account dd {
	margin-left:30%;
}
span.lead {
	font-size:130%;
	color:#efad13;
}

.clear {
	clear:both;
}
.navi-button img {
	margin-top:10px;
}
#notice {
  background:url(/images/worldreach/footnote.png) repeat-y top left;
  padding:20px;
  color:#000;
  margin-bottom:10px;
}

/* basic form styles */

form{
    margin:0px auto;
    padding:0px;
}

form input,
form select,
form textarea{
    
}

form textarea{
    height:100px;
}

form fieldset{
    border:1px solid #CCCCCC;
    margin:0px 0px 10px 0px;
    padding:10px 10px 0px 10px;
    display:block;
    
}

form legend{
    color:#666666;
    margin:0px;
    padding:0px;
    font-family:arial;
    font-size:130%;
    padding:0px 0px 0px 0px;
    *margin:0px 0px 0px -6px;
}

form label {
	padding-right:5px;
}

/* basic form list items */

form dl{
    margin:0px 0px 0px 0px;
    padding:0px;
    width:auto;
    clear:both;
}

form dt{
    float:left;
    width:20%;
    margin:0px 0px 0px 0px;
    color:#ffffff;
    text-align:right;
    padding-right:10px;
}

form dd{
    margin:0px 0px 0px 22%;
    padding-bottom:10px;
    color:#666666;
    _text-indent:-3px !important;
}

form dd label{
    vertical-align:top;
    *vertical-align:baseline;
    margin:0px 8px 0px 0px;
    line-height:1.6em;
}

form .input input {
	width:100%;
	padding:2px;
	border:1px solid black;
}
form .input dt {
	padding:2px 0px 0px 0px;
}
form .triplet input {
	width:30%;
}
form .checkbox dt {
	width:50%;
}
form .checkbox dd {
	margin-left:50%;
}

#pie {
  margin:20px;
}
