* {
	margin:0;
	padding:0;
}

html {
	padding-bottom:20px;
}
body {
	background:#325a66 url(/images/worldreach/body_background.jpg) repeat-x top left;
	font-family: Georgia, 'Times New Roman', Arial, Serif;
	color:#fff;
	font-size:1em;

}
p {
	font-size:90%;
	line-height:200%;
}
ul, li {
	list-style:none;
}

a img {
	border:0px;
}
h1 {
	background:url(/images/worldreach/h1_background.png) no-repeat top left;
	margin-top:10px;
	padding-left:15px;
	font-size:160%;
	font-weight:normal;
	height:43px;
	line-height:43px;
}
#container {
	width:960px;
	margin:0 auto;
	position:relative;
}

#heading {
	position:relative;
}

#navigation {
	position:absolute;
	top:100px;
	right:0;
}

#content {
	width:670px;
	float:left;
}

#sidebar {
	width:290px;
	float:right;
}

.home #content, .home #sidebar {
	padding-top:285px;
}

#extra {
	display:none;
}

#footer {
	clear:both;
	padding:20px 0px 0px 0px;
	font-size:70%;
	color:#efad13;
}

#navigation li, #footer li {
	float:left;
	padding-left:5px;
	display:block;
}

#mission p {
	padding:10px 110px 15px 50px;
}
#mission span {
	display:block;
}
#get-involved {
	padding-left:30px;
}
.home #extra {
	display:block;
	top:150px;
	left:0;
	position:absolute;
	height:auto;
	margin-top:0;
	bottom:auto;
	margin-bottom:auto;
	
}
#donations {
	height:68px;
	border:1px solid #efad13;
	background:url(/images/worldreach/donation_tracker.png) no-repeat top left;
	padding-left:91px;
	text-align:center;
	margin-top:15px;
	clear:both;
	line-height:150%;
	color:#efad13;
	margin-left:16px;
}
#donations strong {
	display:block;
	font-size:150%;
	color:#ffffff;
}
#donations p {
	padding-top:5px;
}
#donations a {
	float:left;
	margin-left:-91px;
	margin-top:-68px;
	}
.home #sidebar {
	margin-top:15px;
}
#instructions {
	background:#2d4a54;
	margin-left:16px;
	padding-bottom:10px;
}
#instructions ul {
	padding-top:30px;
}

#instructions li {
	margin-left:10px;
	padding:0 20px 0 75px;
	font-size:80%;
	height:35px;
	margin-bottom:5px;
}

.check {
	background:url(/images/worldreach/icons/check_on.png) no-repeat top left;
	_background:url(/images/worldreach/icons/check_on_ie.png) no-repeat top left;
}

.check-off {
	background:url(/images/worldreach/icons/check_off.png) no-repeat top left;
	_background:url(/images/worldreach/icons/check_off_ie.png) no-repeat top left;
}
.dollar {
	background:url(/images/worldreach/icons/dollar_on.png) no-repeat top left;
	_background:url(/images/worldreach/icons/dollar_on_ie.png) no-repeat top left;
}
.dollar-off {
	background:url(/images/worldreach/icons/dollar_off.png) no-repeat top left;
	_background:url(/images/worldreach/icons/dollar_off_ie.png) no-repeat top left;
}
.person-off {
	background:url(/images/worldreach/icons/person_off.png) no-repeat top left;
	_background:url(/images/worldreach/icons/person_off_ie.png) no-repeat top left;
}
.person {
	background:url(/images/worldreach/icons/person_on.png) no-repeat top left;
	_background:url(/images/worldreach/icons/person_on_ie.png) no-repeat top left;
}

.causes .check, .causes .dollar, .causes .person {
	width:62px;
	height:35px;
	display:block;
}

#position li {
	float:left;
}
.box h3 {
	background:url(/images/worldreach/box_header.png) no-repeat top left;
	height:40px;
	margin-left:-16px;
	margin-top:-10px;
	float:right;
	width:290px;
}

span.lead {
	font-size:130%;
	color:#efad13;
}

.clear {
	clear:both;
}