<h1>Listing style_infos</h1>

<table>
  <tr>
  </tr>

<% for style_info in @style_infos %>
  <tr>
    <td><%= link_to 'Show', admin_organization_style_info_path(@organization, style_info ) %></td>
    <td><%= link_to 'Edit', edit_admin_organization_style_info_path(@organization, style_info) %></td>

<% if false %>
    <td><%= link_to 'Destroy', admin_organization_style_info_path(@organization, style_info), :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>

  </tr>
<% end %>
</table>

<% if false %>
<br />
<%= link_to 'New style_info', new_style_info_path %>
<% end %>
