<h1>Listing style_infos</h1>

<table>
  <tr>
  </tr>

<% for style_info in @style_infos %>
  <tr>
    <td><%= link_to 'Show', style_info %></td>
    <td><%= link_to 'Edit', edit_style_info_path(style_info) %></td>
    <td><%= link_to 'Destroy', style_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New style_info', new_style_info_path %>
