<h2><%= image_tag("/text/basicborder_header/choose a background image.png", :alt => "Background Images") %></h2>
<ul>

<% customization.custom_options.attributes.each_pair do |name,value|  %>
<li><%= link_to_remote(image_tag( "customization/#{value}", :height => 100, :width => 130 ) , 
		:url => {:controller => 'customize', 
			 :action => :update,
			 :id => my_badge, 
			 :customization => u(customization.name), 
			 :option_value  => value } ) -%> 
</li>
<% end %>

</ul>
