<h2><%= customization.name == "affiliation" ? "choose an affiliation badge" : "choose a background image" -%></h2>
<ul class="image-chooser">

<% customization.custom_options.attributes.each_pair do |name,value|  %>
<li><%= link_to_remote(image_tag( "customization/#{value}" ) , 
		:url => {:controller => 'customize', 
			 :action => :update,
			 :id => my_badge, 
			 :customization => u(customization.name), 
			 :option_value  => value } ) -%> 
</li>
<% end %>

</ul>
