<% content_box(@account.nickname, :class => "shadow", :id => "welcome" ) do -%>
	<%= image_tag(@account.get_avatar(:full), :class => 'avatar', :alt => 'Avatar') -%>	
	<span class="clear"></span>
<% end %>

<% content_box("socialize", :class => "basicborder", :id => "ranking" ) do -%>
  <p>Social Features coming soon.</p>
<% end %>




<% if false %>
<p>
<ul>
<li>Number of Badges:  <b><%= @account.my_badges.size -%></b> </li>
<li>Total Donations:  <b><%= @account.total_donations -%></b> </li>
</ul>
</p>
<% end %>
