<h1>Listing segments</h1>

<table>
  <tr>
  </tr>

<% for segment in @segments %>
  <tr>
    <td><%= link_to 'Show', segment %></td>
    <td><%= link_to 'Edit', edit_segment_path(segment) %></td>
    <td><%= link_to 'Destroy', segment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New segment', new_segment_path %>
