<h1>New segment</h1>

<%= error_messages_for :segment %>
<% form_for(@segment, :url => orgadmin_organization_segment_path(@organization, @segment), :method => :post ) do |f| %>
 <ul>
  <%= render :partial => 'fields', :locals => {:f => f } -%>
  <li>
    <%= f.submit "Create" %>
  </li>
 <ul>
<% end %>

<%= link_to 'Back', orgadmin_organization_segments_path(@organization) %>
