<% if !@organization.nil? %>
  <li><%= link_to @organization.name,  organization_path(@organization) -%></li>
<% end %>

<% if !@segment.nil? %>
<li><%= link_to @segment.name,  organization_segment_path(@organization, @segment.organization ) -%></li>
<% end %>
