<% @result = share.post(:go) %>
<% response_hash = Hash.from_xml(@result.body) %>
<% the_url = response_hash['hash']['response']  %>
<a href="<%= the_url-%>" target="_blank">Click to add to <%= share.webapp_name -%></a>
