<br />

<textarea rows="2" cols="60"><%= share.snippet.strip -%></textarea>

<p>
<%= link_to 'click here to learn how add your badge to your email signature', 
    {:controller => '/site', :action => 'email_embed_instructions' }, :popup => ['new_window', 'height=800,width=600'] %> 
</p>
