<div class="oi1">
  <div id="preview">
    <% content_box( "Your Charity Badge", :class => "shadow" ) do -%>
      <div id="badge">
        <%= render :partial => 'current_view', :locals => { :my_badge => @my_badge } -%>
      </div>
      <br /><%= link_to 'share my badge', :controller => 'share',:action => 'index', :id => @my_badge -%>
    <% end %>
  </div>
  <div id="howto">
    <% content_box( "How to Customize your Badge", :class => "basic" ) do -%>
      <p>
        Choose from the categories below to change the appearance of your badge. You will be shown 
        several options that allow you to modify your badge to suit your tastes. Once you are satisfied 
        with your changes, click the save and share button to commit your changes and post to various 
        social networking sites!
      </p>
    <% end %>
  </div>
  <div id="options">
    <h2>Your Options</h2>
      <%= render :partial => 'customizables',
		 :locals  => {:my_badge => @my_badge, :customizables => @customizables}-%>
  </div>
  <div id="toolbar">
    <% content_box( "Tool Type", :class => "light" ) do -%>
      <div id="tool-options">
      
      </div>
    <% end %>
  </div>
</div>
