<h1>Customization Home </h1>


<img src="<%=ADISERVER-%>/adis/<%= @my_badge.adi_id -%>.gif?&draft=true&rand=<%=rand(100).to_s-%>" class="listing" >

<br />

<%= link_to 'share my bage', :controller => 'share', :action => 'index', :id => @my_badge -%>
