<h1>New campaign</h1>
<%= error_messages_for :campaign %>

<% form_for(@campaign, :url => admin_organization_campaign_path(@organization, @campaign), :method => :post ) do |f| %>
 <ul>
  <%= render :partial => 'fields', :locals => {:f => f } -%>
  <li>
    <%= f.submit "Create" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Back', admin_organization_campaigns_path(@organization) %>
