<li<%= is_id?(segment.site_name) ? ' class="current"' : nil %>><%= link_to(segment.name, organization_segment_path(segment.organization, segment))%></li>
<li style="display:none;" id="<%= dom_id(segment) %>"><%= segment.description %></li>