<h2>Segment - Show</h2>

<%= link_to 'donate now', 
	:controller => 'donations', 
	:action => 'new', 
	:segment => @segment.site_name, 
	:organization => @organization.site_name -%>

<ul>
<% @segment.badges.each do |badge| %>
<li>
<%= badge.name -%> 
<%= link_to 'view this badge', badge -%> 
| 
<%= link_to 'I want this badge  this badge', 
	{:controller => 'my_badges', 
	 :action =>  'new', :segment => @segment.site_name, 
	 :badge => badge  } -%> 
 
</li>
<% end %>
</ul>
