<h1>Standforus Sponsors</h1>

<ul>
<% for sponsor in @sponsors %>
  <li>
    <p><%= link_to sponsor.name, sponsor_path(sponsor) %></p> 
    <p><%= image_tag(sponsor.sponsorslogo.public_filename(:thumb)) -%> </p>
 </li>
<% end %>
</ul>
