<% content_box( "#{@sponsor.name}", :class => "shadow" ) do -%>
<%= image_tag @sponsor.sponsorslogo.public_filename(:medium) -%>
<ol>
<% %w{ name site_name logo address1 address2 address3 city state zip country phone fax email url statement }.each do |field| %>
<li><%= field -%>: <%= @sponsor.send(field)-%></li>
<% end  %>
</ol>

<% end %>
