<h1>Editing sponsorslogo</h1>

<%= error_messages_for :sponsorslogo %>

<% form_for(@sponsorslogo) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sponsorslogo %> |
<%= link_to 'Back', sponsorslogos_path %>
