<h1>'<%= @organization.name-%>' logo</h1>

<table>
  <tr>
  </tr>

<% @organizationslogos.each do  |organizationslogo| %>
  <tr>
    <td><%= image_tag(organizationslogo.public_filename(:thumb) ) %></td>
  </tr>
<% end %>
</table>

<br />

<p>
<%= link_to 'upload a different logo', new_admin_organization_organizationslogo_path(@organization) %>
</p>

<p>
<%= link_to 'back to organizations list', admin_organizations_path %>
</p>
