<h1>Listing organizationslogos</h1>

<table>
  <tr>
  </tr>

<% for organizationslogo in @organizationslogos %>
  <tr>
    <td><%= link_to 'Show', admin_organization_organizationslogo_path(@organization, organizationslogo ) %></td>
    <td><%= link_to 'Edit', edit_admin_organization_organizationslogo_path(@organization, organizationslogo) %></td>
    <td><%= link_to 'Destroy',  admin_organization_organizationslogo_path(@organization, organizationslogo ),  :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organizationslogo', new_admin_organization_organizationslogo_path(@organization) %>
