<h1>New Sponsor</h1>

<%= error_messages_for :sponsor %>
<% form_for(@sponsor, :url => admin_sponsor_path(@sponsor) , :method => :post ) do |f| %>
 <ul>
  <%= render :partial => 'fields', :locals => {:f => f } -%>
  <li>
    <%= f.submit "Create" %>
  </li>
 <ul>
<% end %>

<%= link_to 'Back', admin_sponsors_path  %>
