<h1> access codes for <%= @account.primary_email -%> </h1>

<% if @access_codes.empty? %>
<tr><p>There are no access codes for this account.</p>
<% else %>
<table border="1">

  <tr>
   <th>code </th>
   <th>admin</th>
  </tr>


<% for access_code in @access_codes %>
  <tr>
    <td><%= access_code.value -%> 
    <td><%= link_to 'destroy', admin_account_access_code_path(@account, access_code), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% end%>

<br />
<p>
 <%= link_to 'badge to accounts list' , admin_accounts_path -%>
</p>
