<h1>Listing access_codes</h1>

<table>
  <tr>
  </tr>

<% for access_code in @access_codes %>
  <tr>
    <td><%= link_to 'Show', admin_access_code_path(access_code) %></td>
    <td><%= link_to 'Edit', edit_admin_access_code_path(access_code) %></td>
    <td><%= link_to 'Destroy', admin_access_code_path(access_code), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New access_code', new_admin_access_code_path %>
