<h2>GMail</h2>
<p> Presently, it is not possible to send HTML email signatures using the web based interfaced.  If you are using GMail as your email client, You could follow <%= link_to 'these instructions', ' http://labnol.blogspot.com/2006/08/how-to-add-html-signatures-with-images.html' -%>
</p>
