<h1>Attaching the Standfor.us badge to your email signature using Microsoft Outlook (2003 or 2007)</h1>
<p>Follow these steps to add your Standfor.us badge to your email signature using Microsoft Outlook 2007/2003</p>
  <ol>
   <li> <%= link_to 'Click here to download email signature', "#{YOUNETY['url']}/shares/#{@share.id}/external_spec?adi_id=#{@my_badge.adi_id}" -%>  to download your signtaure file named  <b>my-signature.html</b>.</li>
   <li>Open your Microsoft Outlook Outlook (2003 or  2007). </li>
   <li>Choose 'Options' from the 'Tools' menu.</li>
   <li>A dialog box will open, select the 'Mail Formats' tab.</li>
   <li>Click 'Signatures...'</li>
   <li>A smalled dialog box will open, in that box click 'New'</li>
   <li>Another dialog box will appear, enter a name for this signature, e.g. "Standfor.us Signature'</li>
   <li>Select the radio button labeled 'Use this file as a template'.</li>
   <li>Click the button labeled 'Browse' and find and select the "my_signature.html" file you saved on step one. 
   <li>Click 'Next'.</li>
   <li>At this point, you should see a preview of email signature that you just created.  If you've done everything correctly, your Standfor.us badge should be visible in the preview window. If this is the case, click 'Finish'.  Click 'OK' on all the remaining dialog boxes that are open.</li>
  <li><p>After writing a new email message, select 'Insert' > 'Signature',  and then select the signature name your chose in Step 9. Your Standfor.us badge will automatically appear at the end of your email message.</p>
 <p> Note: Your Standfor.us badge will appear automatically in all the email messages you send.  If, you would not like this signature to appear, set 'Signature' for new messages dropdown menu on the Mail Format tab is set to 'None'.</p>
  </li>
</ol>
