<h2>Apple Mail</h2>
<p> It's a little difficult, but possible to create a signature if your email clients is Apple Mail.  Follow <%= link_to 'this tutorial', 'http://allforces.com/2006/04/14/css-signatures/' -%>  
</p>
