<% content_box("featured badges", :class => "light", :id => "featured_badges" ) do -%>
	<ul>
	<% @badges.each do |badge|%>
		<li>
		<%= image_tag(badge.example_path, :width => 220 )-%><br />
		<%= link_to badge.organization.name, organization_path(badge.organization)  %>
		</li>
		
	<% end  %>
	
	</ul>
	<span class="clear"></span>
<% end %>
