<% content_box("featured organization", :class => "basic", :id => "featured_organizations" ) do -%>
	<div id="org-image">
          <%= image_tag @configuration.organization.organizationslogo.public_filename(:thumb) -%>
	</div>
	<h2><%= @configuration.organization.name  %></h2>
	<p>
		<%= @configuration.organization.description %>
	</p>
<% end %>
