<h2>Mozilla Thunderbird</h2>
    <p>Follow these steps to add your Standfor.us badge to your email signature using Mozilla Thunderbird: </p>
   <ol>
   <li> In your browser, click 'download email signature'.  Doing so will save a small text file containing your signature to your desktop.  The name of the file will be 'standfor.signature.html'.</li>
     <p><%= image_tag('/images/tutorial/shared-1.jpg') -%> </p>
   <li> Open your Mozilla Thunderbird application.</li>
   <li> Choose Tools >  Account Settings. </li>
   <li> On the left, you'll see a list of accounts. Choose email account you would like to add your badge to by clicking on the of the account (yourname@something.com).</li>
   <li> In the right panel, you'll see a section called 'Default Identity'. Within that section, check the box next to the text 'Attach this signature'..</li>
   <li> Click 'Choose...' and find and select the "my_signature.html" file you saved on step 3.</li>
   <li> Click 'OK' on the lower right hand side.</li>
 </ol>
