<h2>Yahoo! Mail Classic</h2>
  <p>Follow these steps to add your Standfor.us badge to your email signature using Yahoo! Mail Classic</p>
   <ol>
   <li>Log into to your Yahoo! Mail email account.</li>
   <li>Locate and click the link 'options' located on the upper right side of the 'Mail' homepage.</li>

   <li>Locate and click the 'Signature' link from the 'Mail Options' choices.   The link is located in the middle column labeled 'Management'.  After clicking the link, a screen will appear to allow you to configure your email signature. </li>

   <li><b>Important</b>  There are two links next to a button labeled 'Editor'.  Be sure to choose Color and Graphics' and not select the default choice 'Plain'.  Additionally,  check the box labeled 'View HTML Source'.</li>

  <li>Paste your 'emebed' HTML code into the textbox shown. 
   <p>Check the 'Add signature to all outgoing messages checkbox' if you'd like your Standfor signature automatically appear  
at the end of each email you send.</li>
   <li> Click the 'Save' button in the lower left side of the page.</li>
   <li>When you write a new email, be sure that the ' Use my signature checkbox' is checked.  If your email message receipient supports standard HTML email, they will see your Standfor.us badge.</li>
 </ol>
