<% content_box(:box_class => "shadow" ) do -%>

<h1>What's all this then?</h1>

<p>StandforUs was launched in 2008 in partnership with <%= link_to 'Gift for Life', 'http://www.giftoflifeinternational.com' -%>  and <%= link_to 'MarcUSA', 'http://www.marcusa.com' -%>. It was built by <%= link_to 'Sympact Technologies', 'http://www.sympact.net/' -%> </p>

<p>Sympact Technologies is a group of ruby on rails and marketing ninjas bent on changing the world through innovative technology and marketing initiatives. We saw how the LiveStrong bracelet raised awareness for fighting cancer and wanted to create the same visual, viral effect in the digital world.</p>

<p>Have a thought on how we can improve the site then shoot us an email and we'll work on integrating that improvement. We're over in DUMBO, Brooklyn and would love to meet for coffee to discuss how to use this technology to spread awareness for a great cause.</p>

<p>Thanks for stopping by.</p>

<% end %>
