<% content_box(:box_class => "shadow" ) do -%>

<h1>What's all this then?</h1>

<p>StandforUs seeks to partner with a wide range of organizations whose cause we believe in. Our first organization is Gift of Life. We are always looking to help spread the word for other great organizations.</p>

<p>If we don't support your favorite cause, let us know and we will work on getting a badge for that organization. Please send an email to neworgs@standfor.us, to inquire about getting a badge on StandforUs.</p>

<% end %>
