<% content_box(:box_class => "shadow" ) do -%>
  
<h1>What's all this then?</h1>
<p>StandforUs was launched in 2008 in partnership with Gift for Life and MarcUSA and built by Sympact Technologies (www.sympact.net).</p>

<p>Sympact Technologies is an elite group of Ruby on Rails and marketing ninjas bent on changing the world through innovative technology and marketing initiatives. We saw how the visual impact of the LiveStrong bracelet resulted in huge awareness for fighting cancer and wanted to create the same effect in the digital world.</p>

<p>Have a thought on how we can improve then shoot us an email and well work together on how to make the experience. If you want to talk ideas were over in DUMBO, Brooklyn and would love to meet for coffee to discuss how to get cranking on your idea.</p> 
<% end %>
