<style>
  li.instructions {
    list-style-type:decimal; 
  }
</style>

<h1>How to embed your badge in your email.</h1>

<h1 style="color:red;">Do No Release This Code until has been properly 'Adapted' </h1>

<p> FeedBurner's Headline Animator uses simple HTML code to display a graphical banner that displays a rotating set of the most recent five headlines from your feed. While it would be great if this code worked with every major email application and website, the unfortunate reality is that a small set of popular choices allow you to use completely custom HTML code as a "rich text," or HTML, email message's signature. </p>
<p>

</p>

<h2>Mozilla Thunderbird</h2>
   <ol class="instructions">
   <li> Create a new text file using a simple text editor, such as Notepad (Windows) or TextEdit (Mac OS X).</li>
   <li> Paste the Animator code that you copied into this file.</li>
   <li> Save the file with the name "signature.html" in a location on your system you can easily find later.</li>
   <li> Launch Mozilla Thunderbird.</li>
   <li> Choose Account Settings... from the Options menu.</li>
   <li> In the account list, select the email account you wish to use the signature with.</li>
   <li> In the Account Settings section, check the Attach this signature: box.</li>
   <li> Click Choose... and locate the "signature.html" file you saved earlier in your local file system.</li>
   <li> Click OK.</li>
 <ul>

<h2>Micrsoft Outlook Express</h2>

   1. Create a new text file using a simple text editor, such as Notepad (Windows) or TextEdit (Mac OS X).

   2. Paste the Animator code that you copied into this file.

   3. Save the file with the name "signature.html" in a location on your system you can easily find later.

   4. Launch Microsoft Outlook Express.

   5. Choose Options... from the Tools menu.

   6. In the dialog box that appears, click the Signatures tab.

   7. In the "Signatures" section, click the New button.

   8. In the "Edit Signature" section, click the File radio button.

   9. Click the Browse... button and locate the "signature.html" file you saved earlier in your local file system. Click Open once you have selected this file.
      Tip: If you want the signature to appear automatically at the end of each message, also check the Add signatures to all outgoing messages checkbox on the Signatures tab.

  10. Click OK.

<h2>Microsoft Outlook 2007/2003</h2>

   1. Create a new text file using a simple text editor, such as Notepad (Windows) or TextEdit (Mac OS X).

   2. Paste the Animator code that you copied into this file.

   3. Save the file with the name "signature.html" in a location on your system you can easily find later. It is important that the file be saved with a .html file extension.

   4. Launch Microsoft Outlook 2003.

   5. Choose Options... from the Tools menu.

   6. In the dialog box that appears, click the Mail Format tab.

   7. Click Signatures...

   8. In the subdialog box that appears, click New...

   9. In the sub-subdialog box that now appears, enter a title for this signature (such as "Feed Headlines Sig").

  10. Click the Use this file as a template radio button.

  11. Click the Browse... button and locate the "signature.html" file you saved earlier in your local file system. Click Select once you have located this file.

  12. Click Next.

  13. A preview of the signature should appear. If the Email Animator displays in the preview window, everything is set up properly and you may click Finish, and then OK on all remaining dialog boxes to complete this setup task.

  14. Compose a new message. When you have finished the new message, choose Signature from the Insert menu, and then select your signature by name. Your Headline Animator should appear at the end of your message automatically.
      Tip: If you do not want to have the signature appear automatically, make sure the Signature for new messages dropdown menu selection on the Mail Format tab is set to "-None-".


<h2>Yahoo! Mail</h2>

   1. Sign in to Yahoo! Mail.

   2. Choose the Options link from the list of account links on the right hand side of the home page.

   3. Choose the Signature link from the middle column of account option choices. A signature editor should appear.

   4. Make sure you choose "Color and Graphics" as your signature option; "Plain" is the default choice. Also make sure to check the box next to "View HTML Source"  Yahoo! will treat your HTML as literal text which work as an Animator unless you check this option.

   5. Paste your Email Signature animator code into the editor area.

      Tip: If you want the signature to appear automatically at the end of each message, also check the Add signature to all outgoing messages checkbox.

   6. Click Save.

   7. Compose a new message. Make certain that the Use my signature checkbox is checked before you send the message. Your recipient will see your Headline Animator graphic if their email application supports standard HTML email.

<h2>GMail</h2>
Google GMail does not permit HTML signatures using its web-based interface; only plain text signatures may be entered directly through the GMail website.

However, as John Lamansky pointed out, people who use GMail's POP3 access features can then use Thunderbird, Outlook or another email HTML signature-aware email application to incorporate their Headline Animator. The HTML email you compose with one of these external applications will be sent through exactly as-is by GMail, and your recipients will see the signature as long as they are using an HTML-compatible email application (which includes GMail itself, of course).

Update: Amit Agarwal has the following workaround for incorporating HTML directly into the HTML composition window in GMail (you must be using Firefox or IE for this to work): http://labnol.blogspot.com/2006/08/how-to-add-html-signatures-with-images.html

Update #2 (March 2007): FeedBurner's own Rick Klau has written up another workaround that involves Firefox and a Greasemonkey script. The more the merrier, we say!

<h2>Apple Mail</h2>

If you have a strong technical constitution, you can try the HTML/CSS workaround provided at this site:

http://allforces.com/2006/04/14/css-signatures/

<h2>Microsoft Entourage</h2>

Microsoft Entourage: Not Yet
We do not know of any way to incorporate external HTML (such as our subscription form) into an HTML signature within Microsoft Entourage. One thing we may add is the ability to start a subscribe request via a simple text link -- that would make this process much simpler and more portable -- not just for Entourage.

