<h1>How to embed your badge in your email.</h1>

<p>You can include your badge in your email signature by properly installing the 'embed' HTML code snippet provided here.  The process for installing the HTML code differs amoung the popular email software available.  Here you'll find instructions for some of the more popular email programs. </p>

<h2>Microsoft Outlook Express</h2>
    <p>Follow these steps to add your Standfor.us badge to your email signature using Microsoft Outlook Express: </p>
   <ol>
   <li> Use your favorite text editor to create a new text file.(Notepad,TextEdit, etc).</li>
   <li> Copy the 'embed' code  and Paste it into the file that you have just created.</li>
   <li> Save the file and name it "my_signature.html" in a convenient place such as your Desktop.</li>
   <li> Open your Microsoft Outlook Express application.</li>
   <li> Choose 'Options' from the 'Tools' menu.</li>
   <li> A dialog box will open, select the 'Signatures' tab.</li>
   <li> Within the section labeled 'Signatures', click the labeled 'New'.</li>
   <li> Within the 'Edit Signature' section, click the radio button labeled 'File'.</li>
   <li> Click the button labeled 'Browse' and find and select the "my_signature.html" file you saved on step 3. 
    <p>If you'd like  the signature automatically appear on every email you send from Microsoft Outlook Express, check the checkbox labeled 'Add signatures to all outgoing messages' </p>
   </li>
  <li> Click 'OK' button.</li>
  </ol>

<h2>Microsoft Outlook 2007/2003</h2>
  <p>Follow these steps to add your Standfor.us badge to your email signature using Microsoft Outlook 2007/2003</p>
  <ol>
   <li>Use your favorite text editor to create a new text file.(Notepad,TextEdit, etc).</li>
   <li>Copy the 'embed' code  and Paste it into the file that you have just created.</li>
   <li>Save the file and name it "my_signature.html" in a convenient place such as your Desktop.</li>
   <li>Open your Microsoft Outlook Outlook 2003 (or 2007).</li>
   <li>Choose 'Options' from the 'Tools' menu.</li>
   <li>A dialog box will open, select the 'Mail Formats' tab.</li>
   <li>Click 'Signatures...'</li>
   <li>A smalled dialog box will open, in that box click 'New'</li>
   <li>Another dialog box will appear, enter a name for this signature, e.g. "Standfor.us Signature'</li>
   <li>Select the radio button labeled 'Use this file as a template'.</li>
   <li>Click the button labeled 'Browse' and find and select the "my_signature.html" file you saved on step 3. 
   <li>Click 'Next'.</li>
   <li>At this point, you should see a preview of email signature that you just created.  If you've done everything correctly, your Standfor.us badge should be visible in the preview window. If this is the case, click 'Finish'.  Click 'OK' on all the remaining dialog boxes that are open.</li>

  <li>After writing a new email message,  select 'Insert' > 'Signature',  and then select the signature name your chose in Step 9. Your Standfor.us badge will automatically appear at the end of your email message.
 <p> Note: Your Standof.us badge will appear automatically in all the email messages you send.  If, you would not like this signature to appear, set 'Signature' for new messages dropdown menu on the Mail Format tab is set to 'None'.</li>
  </ol>

<h2>Mozilla Thunderbird</h2>
    <p>Follow these steps to add your Standfor.us badge to your email signature using Mozilla Thunderbird: </p>
   <ol>
   <li> Use your favorite text editor to create a new text file.(Notepad,TextEdit, etc).</li>
   <li> Copy the 'embed' code  and Paste it into the file that you have just created.</li>
   <li> Save the file and name it "my_signature.html" in a convenient place such as your Desktop.</li>
   <li> Open your Mozilla Thunderbird appliation.</li>
   <li> Choose Tools >  Account Settings. </li>
   <li> On the left, you'll see a list of accounts. Choose email account you would like to add your badge to by clicking on the of the account (yourname@something.com).</li>
   <li> In the right panel, you'll see a section called 'Default Identity'. Within that section, check the box next to the text 'Attach this signature'..</li>
   <li> Click 'Choose...' and find and select the "my_signature.html" file you saved on step 3.</li>
   <li> Click 'OK' on the lower right hand side.</li>
  </ol>

<h2>Yahoo! Mail Classic</h2>
  <p>Follow these steps to add your Standfor.us badge to your email signature using Yahoo! Mail Classic</p>
   <ol>
   <li>Log into to your Yahoo! Mail email account.</li>
   <li>Locate and click the link 'options' located on the upper right side of the 'Mail' homepage.</li>

   <li>Locate and click the 'Signature' link from the 'Mail Options' choices.   The link is located in the middle column labeled 'Management'.  After clicking the link, a screen will appear to allow you to configure your email signature. </li>

   <li><b>Important</b>  There are two links next to a button labeled 'Editor'.  Be sure to choose Color and Graphics' and not select the default choice 'Plain'.  Additionally,  check the box labeled 'View HTML Source'.</li>

  <li>Paste your 'emebed' HTML code into the textbox shown. 
   <p>Check the 'Add signature to all outgoing messages checkbox' if you'd like your Standfor signature automatically appear  
at the end of each email you send.</li>
   <li> Click the 'Save' button in the lower left side of the page.</li>

   <li>When you write a new email, be sure that the ' Use my signature checkbox' is checked.  If your email message receipient supports standard HTML email, they will see your Standfor.us badge.</li>
 </ol>

<h2>Yahoo! Mail (New Version) </h2>
  <p>The instructions for the new yahoo mail are essentially the same as those for Yahoo! Mail Classic.  The only differences is that the links referred to may be in slightly different places. </p> 

<h2>GMail</h2>
<p> Presently, it is not possible to send HTML email signatures using the web based interfaced.  If you are using GMail as your email client, You could follow <%= link_to 'these instructions', ' http://labnol.blogspot.com/2006/08/how-to-add-html-signatures-with-images.html' -%>
 </p>

<h2>Apple Mail</h2>
<p> It's a little difficult, but possible to create a signature if your email clients is Apple Mail.  Follow <%= link_to 'this tutorial', 'http://allforces.com/2006/04/14/css-signatures/' -%>  
</p>
