<ul>

<li>
<%= render :partial => 'welcome' -%>
</li>

<li>
<%= render :partial => 'featured_organization' -%>
</li>

<li>
<%= render :partial => 'featured_badges' -%>
</li>

<li>
<%= render :partial => 'news' -%>
</li>

</ul>
