<% content_box( "leaderboard", :class => "shadow" ) do -%>

<ol>
  <% System.top_donors.each do |account, amount| %> 
  <li><%= link_to account.nickname, :controller => 'site', :action => 'meet', :id => account   -%> : <%= amount -%> </li>
  <% end %>
</ol>

<% end %>
