<div class="leaders">
	<% grey_fade(:id => 'most-donated' ) do -%>
	<h2>Most Money Donated</h2>
		<%= render :partial => 'money_donated' -%>
	<% end %>
</div>

<div class="leaders">
	<% grey_fade(:id => 'most-views' ) do -%>
	<h2>Most Badge Views </h2>
	 <%= render :partial => 'badge_views' -%>
	<% end %>
</div>

<div class="leaders">
	<% grey_fade(:id => 'most-referred-money' ) do -%>
	<h2>Most Referred Money Raised </h2>
	 <%= render :partial => 'referred_money_raised' -%>
	<% end %>
</div>

<span class="clear"></span>
