<% content_box( "leaderboard", :class => "shadow" ) do -%>

<h2>Most Money Donated</h2>
 <%= render :partial => 'money_donated' -%>

<h2>Most Badge Views </h2>
 <%= render :partial => 'badge_views' -%>

<% end %>
