<p> Coming soon... for now if you would like to be a sponsor or would like to join Standfor email sponsors@standfor.us</p>

<% if false %>
<% content_box("featured sponsor", :class => "shadow", :id => "welcome" ) do -%>
	<%= image_tag @sponsors.first.sponsorslogo.public_filename(:medium) -%>
	<ul>
    <li><%= link_to @sponsors.first.name,  sponsor_path(@sponsors.first) -%></li>
    <li><%= @sponsors.first.statement -%></li>
	</ul>
<% end %>

<% content_box("about sponsors", :class => "basicborder", :id => "ranking" ) do -%>
  <p>
  	nStandfor.us is pioneering a revolutionary new model of cause marketing. By injecting your badges with sponsor branding you can help raise awarness just by displaying your badge anywhere you are active on the net. In return the sponsors will donate to your choosen cause based on the number of times your badge is viewed.
  </p>
<% end %>

<% grey_fade(:id => "sponsors" ) do -%>
	<h2>some of our sponsors</h2>
	<% @sponsors.each do |sponsor| -%>
		<div class="small-logo">
			<%= image_tag( sponsor.sponsorslogo.public_filename(:thumb), :alt => sponsor.name) -%>
		</div>
	<% end -%>
<% end -%>
<% end %>