<ol>
<% %w{name keyword organization_id site_name description created_at updated_at}.each do |field| %>
<li><%= field -%>: <%= @segment.send(field)-%></li>

<% end  %>
</ol>
<%= link_to 'Edit', edit_admin_organization_segment_path(@organization, @segment) %> 
| <%= link_to 'Back', admin_organization_segments_path(@organization) %>
