<h1>Organizations Admin </h1>

<ol>

<li><%= link_to 'segments',  orgadmin_organization_segments_path(@organization) -%></li>
<li><%= link_to 'campaigns',  orgadmin_organization_campaigns_path(@organization) -%></li>

</ol>
