<h1>Create a new campaign!</h1>

<%= error_messages_for :campaign %>
<% form_for(:campaign, :url =>  organization_segment_campaigns_path(@organization, @segment), :method => :post ) do |f| %>
   <%= render :partial => 'fields'  , :locals => {:f => f } -%>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<br />
 <%= link_to 'Back', organization_segment_campaigns_path(@organization, @segment ) %>
