<ul>
	<li><%= link_to 'All Organizations', organizations_path %></li>
  <%= controller.controller_name == 'segments' ? content_tag(:li, link_to("Back to #{organization.name}", organization_path(organization))) : nil %>
</ul>

<ul>
  <%= render :partial => 'segments/segment', :collection => organization.segments %>
</ul>
