<table>
<tr>
  <td>Total Raised Through Standfor Us:</td> <td><%= organization.total_raised -%></td>
</tr>

<tr>
  <td>Number of Donors:</td> <td><%= organization.number_of_donors -%></td>
</tr>

<tr>
  <td>Number of Badges:</td> <td><%= organization.number_of_badges -%></td>
</tr>

<tr>
  <td>Top Donor:</td> <td><%= organization.top_sponsor.nickname -%> </td>
</tr>

</table>
