<ul>
  <li>Total Raised Through Standfor Us:<%= organization.total_raised -%></li>
  <li>Number of Donors: <%= organization.number_of_donors -%></li>
  <li>Number of Badges: <%= organization.number_of_badges -%></li>
  <% if !organization.top_sponsor.nil? %>
  <li>Top Donor: <%= organization.top_sponsor.nickname -%> </li>
  <% end %>
</ul>
