<% content_box("Participating Organizations", :class => "shadow", :id => "organizations" ) do -%>

<ul>
<% @organizations.each do |organization|%>
<li>
<%= link_to organization.name, organization_path(organization)  %>
</li>

<% end  %>

</ul>
<% end %>

