<% @sub_layout = 'gala' %>

<%= render :partial => 'featured' -%>

<% content_box(:box_class => "basicborder", :external_id => "ranking" ) do -%>
<p> StandforUs has partnered with a wide range of organizations whose cause we believe in. We are always looking to help spread the word for other great organizations.</p>
<p>If we dont support your favorite cause, let us know and we will work on getting a badge for that organization.</p>
<% end %>

<% grey_fade(:id => "organizations" ) do -%>
	<h2>we standfor:</h2>
	<% @organizations.each do |organization| -%>
		<div class="small-logo">
			<%= link_to( image_tag(organization.organizationslogo.public_filename(:thumb), :alt => organization.name), organization_path(organization) ) unless organization.organizationslogo.nil? -%>
		</div>
	<% end -%>
<% end -%>

