<% content_box("participating organizations", :class => "shadow", :id => "organizations" ) do -%>

<ul>
<% @organizations.each do |organization|%>
<li>
<%= image_tag organization.organizationslogo.public_filename(:thumb) -%>
<%= link_to organization.name, organization_path(organization)  %>
</li>

<% end  %>

</ul>
<% end %>

