<% content_box("Participating Organizations", :class => "shadow", :id => "organizations" ) do -%>

<ul>
<% @organizations.each do |organization|%>
<li>
<%= link_to organization.name, :controller => 'organizations', :action => 'show', :organization => organization.site_name  %>
</li>

<% end  %>

</ul>
<% end %>

