<ul>
<% @organization.segments.each do |segment| %>

<li><%= link_to segment.name, :controller => 'segments', :action => 'show', :name => segment.name.gsub(' ', '-'), :organization => segment.organization.name.gsub(' ', '-' ) -%></li>

<% end %>
</ul>
