<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Standforus / Worldreach</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'worldreach' %>
</head>
<body>
<div id="container" class="<%= @context || "default" -%>">
	<div id="heading">
		<%= link_to image_tag('worldreach/branding.png', :alt => 'World Reach - The smart way busy people give.', :width => 427, :height => 150), worldreach_home_path %>
		<div id="navigation">
			<ul>
			    <li><%= link_to 'Our Causes', worldreach_segments_path -%></li>
			    <li><%= link_to 'About Us', worldreach_about_us_path -%></li>
			    <li><%= link_to 'Contact Us', worldreach_contact_us_path -%></li>
			</ul>
		</div>
	</div>
	<div id="wrapper">
		<div id="content">
			<%= yield  %>		
		</div>
		<div id="sidebar">
			<%= yield :sidebar -%>
		</div>
	</div>
	<div id="extra">
		<%= yield :extra -%>
	</div>
	<div id="footer">
		<ul>
		    <li><%= link_to '© World Reach', worldreach_home_path  -%> |</li>
		    <li><%= link_to 'Privacy Policy', worldreach_privacy_policy_path -%> |</li>
		    <li><%= link_to 'Site Map', worldreach_site_map_path -%></li>
		</ul>
	</div>
</div>
</body>
</html>
