<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Standforus</title>
  <%= stylesheet_link_tag '/rcss/default' + (style_info ? "/#{style_info.id}" : "") %>
  <%= stylesheet_link_tag 'forgotpassword'  %>
  <%= javascript_include_tag :defaults %>
  
  <!--[if lt IE 7]>
<script language="JavaScript">
function correctPNG() // correctly handle PNG transparency in Win IE 5.5 & 6.
{
   var arVersion = navigator.appVersion.split("MSIE")
   var version = parseFloat(arVersion[1])
   if ((version >= 5.5) && (document.body.filters)) 
   {
      for(var i=0; i<document.images.length; i++)
      {
         var img = document.images[i]
         var imgName = img.src.toUpperCase()
         if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
         {
            var imgID = (img.id) ? "id='" + img.id + "' " : ""
            var imgClass = (img.className) ? "class='" + img.className + "' " : ""
            var imgTitle = (img.title) ? "title='" + img.title + "' " : "title='" + img.alt + "' "
            var imgStyle = "display:inline-block;" + img.style.cssText 
            if (img.align == "left") imgStyle = "float:left;" + imgStyle
            if (img.align == "right") imgStyle = "float:right;" + imgStyle
            if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
            var strNewHTML = "<span " + imgID + imgClass + imgTitle
            + " style=\"" + "width:" + img.width + "px; height:" + img.height + "px;" + imgStyle + ";"
            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
            + "(src=\'" + img.src + "\', sizingMethod='image');\"></span>" 
            img.outerHTML = strNewHTML
            i = i-1
         }
      }
   }    
}
window.attachEvent("onload", correctPNG);
</script>
<![endif]-->

</head>
<body class="<%= @context || "uninitialized" -%>">
  <div id="header">
   
   <div id="header-image">
    <div id="navigation">
     <ul>
         <li><%= link_to(image_tag("/text/navigation_text/organizations.png", :alt => 'organizations'), organizations_path ) %></li>
         <li><%= link_to(image_tag("/text/navigation_text/badges.png", :alt => 'badges') , badges_path  ) %></li>
         <li><%= link_to(image_tag("/text/navigation_text/sponsors.png", :alt => 'sponsors'), sponsors_path ) %></li>
         <li><%= link_to(image_tag("/text/navigation_text/leaderboard.png", :alt => 'leaderboard'),  :controller => '/site', :action => 'leaderboard') %></li>
         <li class="last"><%= link_to(image_tag("/text/navigation_text/about : us.png", :alt => 'About Us'), :controller => '/site', :action => 'about_us' ) %></li>
     </ul>
   </div>
     <h1>
     	<%= link_to(image_tag("/text/top_text/stand for : us.png", :alt => 'Stand For : Us'), home_path ) %>
   	</h1>
   	<% if current_account != :false %>
     		<div id="user-functions">
     			<%= link_to(image_tag("/text/top_text_small/my account.png", :alt => "my account"), user_account_path) -%>
     			&nbsp;&nbsp;&nbsp;
     			<%= link_to(image_tag("/text/top_text_small/logout.png", :alt => "logout"), logout_path) -%>
	     	</div>
     	<% else %>
     		<div id="user-functions">
     			<%= link_to(image_tag("/text/top_text_small/login.png", :alt => "login"), login_path) %>
	     	</div>
     	<% end %>
  </div>
  </div>
<div id="container">
    <div id="content">

   <div class="oi-wrapper">
        <%= yield  %>
      </div>
    </div>
    <div id="sidebar">
      <%= render :partial => '/shared/sidebar' -%>

    </div>

  <span class="clear"></span>
	<div id="footer">
		<% content_box("", :class => 'basic') do -%>
		<p>Developed by <%= link_to 'Sympact Technologies', 'http://www.sympact.net' %>.</p>
		<p>Funds Collected & Distributed by Registered  501c <%= link_to 'WorldReach', 'http://www.worldreachcharity.org' %>.</p>
		<p>Copyright 2007 Standfor.us & Sympact Technologies</p>
		<% end -%>
	</div>
</div>

</body>
</html>
