<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Standforus</title>
  <%= stylesheet_link_tag '/rcss/default' + (style_info ? "/#{style_info.id}" : "") %>
  <%= javascript_include_tag :defaults %>
  <!--[if lt IE 7]>
	<script type="text/javascript" charset="utf-8">
	//<![CDATA[
	  new HoverBehavior('span');
	//]]>
	</script>
  <![endif]-->
  <!--[if lt IE 7]>
<script language="JavaScript">
function correctPNG() // correctly handle PNG transparency in Win IE 5.5 & 6.
{
   var arVersion = navigator.appVersion.split("MSIE")
   var version = parseFloat(arVersion[1])
   if ((version >= 5.5) && (document.body.filters)) 
   {
      for(var i=0; i<document.images.length; i++)
      {
         var img = document.images[i]
         var imgName = img.src.toUpperCase()
         if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
         {
            var imgID = (img.id) ? "id='" + img.id + "' " : ""
            var imgClass = (img.className) ? "class='" + img.className + "' " : ""
            var imgTitle = (img.title) ? "title='" + img.title + "' " : "title='" + img.alt + "' "
            var imgStyle = "display:inline-block;" + img.style.cssText 
            if (img.align == "left") imgStyle = "float:left;" + imgStyle
            if (img.align == "right") imgStyle = "float:right;" + imgStyle
            if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
            var strNewHTML = "<span " + imgID + imgClass + imgTitle
            + " style=\"" + "width:" + img.width + "px; height:" + img.height + "px;" + imgStyle + ";"
            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
            + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>" 
            img.outerHTML = strNewHTML
            i = i-1
         }
      }
   }    
}
window.attachEvent("onload", correctPNG);
</script>
<![endif]-->

</head>
<body class="<%= @context || "uninitialized" -%>">
  <div id="header">
  	<div id="header-image">
	    <h1><%= link_to(image_tag("/text/top_text/stand for : us.png", :alt => 'Stand For : Us'), "#" ) %></h1>
		</div>
  </div>
<div id="container">
<!--
<div id="navigation">
  <ul>
   <li class="first"><%= link_to(image_tag((style_image_path("header_standfor") || "labels/standfor.png"), :alt => 'standfor'), '/') -%></li>
<%= render :partial => '/shared/breadcrumbs', 
	   :locals =>{:organization => @organization,:segment => @segment } -%>
</ul>

<div id="login-button">

<% if current_account != :false %>
<%= link_to image_tag('buttons/logout.png', :alt => 'Logoutin'), logout_path %>
<% else  %>
<%= link_to image_tag('buttons/login.png', :alt => 'Login'), login_path %>
<% end %>


</div>

</div>
-->
    <div id="content">
      <div class="oi-wrapper">
        <p style="color: green"><%= flash[:notice] %></p>
        <%= yield  %>
      </div>
    </div>
    <div id="sidebar">
      <%= render :partial => '/shared/sidebar' -%>

    </div>

  <span class="clear"></span>

  </div>

  <div id="footer">
    <p>footer text goes here</p>
  </div>
</body>
</html>
