<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Standforus</title>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag :defaults %>
</head>
<body class="<%= @context || "uninitialized" -%>">
  <div id="header">
    <h1>standfor:us</h1>
    <p>Your Branding goes here</a>
  </div>
  <div id="container">
    <div id="content">
      <div class="oi-wrapper">
        <p style="color: green"><%= flash[:notice] %></p>
        <%= yield  %>
      </div>
    </div>
    <div id="sidebar">
      <ul>
        <li>Space for sidebar over here</li>
      </ul>
    </div>
  </div>
  <div id="footer"
    <p>footer text goes here</p>
  </div>
</body>
</html>
