<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Standforus</title>
  <%= javascript_include_tag :defaults %>

<body >
   <%= yield -%>

<div style="text-align:center;">
		<p>Developed by <%= link_to 'Sympact Technologies', 'http://www.sympact.net' %>.</p>
		<p>Copyright 2007 Standfor.us & Sympact Technologies</p>
</div>

</body>
</html>
