<% content_box(:box_class => 'shadow', :external_id => 'forgot-password') do %>
  <h1>I forgot my password</h1>
  <% form_for :account, :url => forgot_password_path do |f| %>
      <fieldset class="input">
          <dl>
              <dt><label for="account_email">Email Address</label></dt>
              <dd><%= f.text_field :email, :size => 20, :class => 'text' %></dd>
          </dl>
    		  <%= f.submit 'Send', :disable_with => "sending&hellip;", :class => 'submit' %>
    		  
      </fieldset>
  <% end %>
  <%= get_flash %>
  <h2>Enter your email address to reset your password</h2>
  <p>You will be sent an email with instructions on how to reset your password.</p>
  <span class="clear"></span>
<% end %>

<% @context = "forgot" %>