<h1>I forgot my password</h1>

<h2>Enter your email address to reset your password</h2>
 <% if !flash[:reset_errors].nil? %>
  <div id="reset-password-error-container">
   <ol>
   <% flash[:reset_errors].each do |error, message| %>
      <li> <%= message -%> </li>
   <% end %>
   </ol>
   </div>
<% end %>

<br />
<% form_for :account, :url => forgot_password_path do |f| %>
    <fieldset class="input">
        <dl>
            <dt><label for="account_email">Email Address</label></dt>
            <dd><%= f.text_field :email, :size => 20, :class => 'text' %></dd>
        </dl>
  		  <%= f.submit 'Send', :disable_with => "sending&hellip;", :class => 'submit' %>
    </fieldset>
<% end %>
