<ul class="donation-summary">
<% total_amt = 0 %>
<% order.donations.each do |donation| %>
	<% total_amt += donation.amount %>
	<li><%= donation.segment.name -%>: <span><%= format_price(donation.amount) -%></span> </li>
<% end %>
	<li class="total">Total Donation: <span><%= format_price(total_amt) -%></span></li>
</ul>
