<h1>New order</h1>

<%= error_messages_for :order %>

<% form_for(@order) do |f| %>

  <%= render :partial => 'fields', :locals => { :f => f , :organization => @organization } -%>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>
